header {
  background-color: #00897b;
  height:10%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5% 8% rgba(0,0,0,.26);
}

.headWrapper {
  text-align: center;
  color: white;
  font-family: "Roboto";
  height: 100%;
  width: 100%;
}

.content-wrapper {
  margin-top: 25%;
}

h2 {
  float: left;
  text-align: center;
  font-family: "Roboto";
  color: #00897b;
  font-size: 200%;
  clear: both;
  margin: 0% 7% 0% 7%;
}

#sendSong {
  margin-top: 5%;
  clear: both;
}

#go {
  color: #00897b;
  border: solid #00897b;
  border-radius: 50%;
  padding: 0.3%;
  float: right;
  margin-top: 3%;
  margin-right: 5%;
}


.foot-wrapper {
  float: right;
  margin-top: 2%;
  margin-bottom: 1.5%;
  margin-right: 1%;
  font-family: "Roboto";
  color: white;
  font-size: 140%;
}

.vendesio {
  margin-left: 0%;
  color: #BDBDBD;
}

a {
  color: white;
  text-decoration: none;
}

footer{
  background-color: #00897b;
  color: black;
  clear: both;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


@media only screen and (min-width: 768px) {

  /* For desktop:*/
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  header {
    background-color: #00897b;
    height:10%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5% 8% rgba(0,0,0,.26);
  }

  .headWrapper {
    text-align: center;
    color: white;
    font-family: "Roboto";
    height: 100%;
    width: 100%;
  }

  .content-wrapper {
    margin-top: 10%;
  }

  h2 {
    float: left;
    text-align: center;
    font-family: "Roboto";
    color: #00897b;
    font-size: 300%;
    clear: both;
    margin: 0% 3% 0% 7%;
  }

  #sendSong {
    margin-top: 1.5%;
  }

  #go {
    color: #00897b;
    border: solid #00897b;
    border-radius: 50%;
    padding: 0.3%;
    float: left;
    margin-left: 12%;
    margin-top: -1%;
  }

  .foot-wrapper {
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    font-family: "Roboto";
    color: white;
    font-size: 140%;
  }

  .vendesio {
    margin-left: 0%;
    color: #BDBDBD;
  }

  a {
    color: white;
    text-decoration: none;
  }

  footer{
    background-color: #00897b;
    color: black;
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

}
